// _custom_variables.scss
$white: #fff;
$light: #fff;
// $light: #ddd;
$dark: #1f1f1f;

$dark-description-color: #373737;
$dark-text-color: #d1d1d1;

$light-description-color: #868686;
$light-text-color: #333;

$darkness-dark: #1c1c1c;
$darkness-shadow: #1e1e1e;
$dark-hover: #121212;
$light-hover: $light;

// Переопределяем переменные Bootstrap, если нужно
$body-bg: #bbbbbb;
$primary-color: #3498db;

$border-radius: 10px;

// Собственные переменные для проекта
$custom-light-background: $light;
$custom-light-secondary-background: #f6f6f6;

$custom-dark-background: #1c1c1c;
$custom-dark-secondary-background: #0000002b;

$custom-text-color-light: $dark;
$custom-text-color-dark: $light;

$custom-transition: background-color 0.3s ease, color 0.3s ease;

$custom-primary-color-light: $dark;
$custom-primary-color-dark: #a569ff;

$custom-bs-body-bg-light: $light;
$custom-bs-body-bg-dark: $dark;

$single-page-background-color-light: $body-bg;
$single-page-background-color-dark: $darkness-dark;

// Buttons
$button-hover-background-color-dark: $dark-hover;
$button-hover-background-color-light: $light-hover;


// Shadows

// Shadows light
$custom-shadow-color-light: #d7d7d7;
$inner-shadow-color-light: #d7d7d7;

// Shadows dark
$custom-shadow-color-dark: $darkness-shadow;
$inner-shadow-color-dark: #1a1a1a;

