// _custom_theme.scss

@use 'variables' as *;
@use 'custom_variables' as *;

:root {
    --background-color: #{$custom-light-background};
    --background-page-color: #{$background-page-color-light};
    --background-component-color: #{$custom-light-secondary-background};
    --text-color: #{$custom-text-color-light};
    --shadow-color: #{$custom-shadow-color-light};
    --primary-color: #{$custom-primary-color-light};
    --bs-body-bg: #{$custom-bs-body-bg-light};
    --single-page-bg: #{$single-page-background-color-light};
    --inner-component-shadow: #{$inner-shadow-color-light};
    --button-hover-background: #{$button-hover-background-color-light};
    --description-color: #{$light-description-color};
    --option-container-correct-color: #{$option-container-correct-color-light};
    --option-container-incorrect-color: #{$option-container-incorrect-color-light};
    --option-container-explanation-color: #{$option-container-explanation-color-light};
    --border-radius: 10px;

    --background-rating-item: #{$background-rating-item-light};
}

body {
    transition: background-color 0.3s ease, color 0.3s ease;
    background-color: var(--background-color);
    color: var(--text-color);
}

a {
    color: var(--text-color);
    font-weight: 600;
    font-family: 'Nunito', sans-serif;
}

body[data-theme='dark'] {
    --background-color: #{$custom-dark-background};
    --background-page-color: #{$background-page-color-dark};
    --background-component-color: #{$custom-dark-secondary-background};
    --text-color: #{$dark-text-color};
    --shadow-color: #{$custom-shadow-color-dark};
    --primary-color: #{$custom-primary-color-dark};
    --bs-body-bg: #{$custom-bs-body-bg-dark};
    --single-page-bg: #{$single-page-background-color-dark};
    --inner-component-shadow: #{$inner-shadow-color-dark};
    --button-hover-background: #{$button-hover-background-color-dark};
    --description-color: #{$dark-description-color};
    --option-container-correct-color: #{$option-container-correct-color-dark};
    --option-container-incorrect-color: #{$option-container-incorrect-color-dark};
    --option-container-explanation-color: #{$option-container-explanation-color-dark};
    
    --background-rating-item: #{$background-rating-item-dark};
}