.single-page {
    flex: 1;
    height: 100%;
    overflow: auto;
    // &.home-page {
    //     margin: 16px;
    //     padding: 16px;
    //     border-radius: $border-radius;
    // }
}

:root {
  --background-component-color: #1a1a1a;
  --tg-theme-bg-color: #222;
  --tg-theme-text-color: #{$custom-text-color-dark};
  --tg-theme-hint-color: #777;
  --tg-theme-link-color: #444;
  --tg-theme-button-color: #dc5757;
  --tg-theme-button-text-color: #eee;
  --tg-theme-secondary-bg-color: #222;
  --tg-theme-header-bg-color: #222;
  --tg-theme-bottom-bar-bg-color: #aaa;
  --tg-theme-accent-text-color: #aaa;
  --tg-theme-section-bg-color: #444;
  --tg-theme-section-separator-color: #222;
  --tg-theme-subtitle-text-color: #555;
  --tg-theme-destructive-text-color: #444;
}

body {
  font-family: 'Nunito', sans-serif;
}
header {
    // border-radius: $border-radius;
    // background-color: var(--background-component-color);
    overflow: hidden;
    // padding: 32px 8px 0;
    color: var(--text-color);
}

.single-page {
  padding: 0
}

.breadcrumb {
  a {
    color: #777;
    text-decoration: none;
    transition: 300ms;
    &:hover {
      color: #aaa;
    }
  }
  .split {
    margin: 0 10px;
    color: #777;
  }
}